.blog-container {
  display: flex;
  flex-direction: column;
  width: 56%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 60px;
}

.blog-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.post-writer {
  color: #787878;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.writer-img {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.writer-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.post-socmed {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 120px;
  align-self: flex-start;
  height: auto;
  gap: 10px;
  text-align: center;
}

.post-socmed img {
  cursor: pointer;
  width: 34px;
}

.post-img {
  margin: 20px 0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 450px;
}

.post-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.post-text {
  margin-top: 40px;
  line-height: 1.8;
}

.post-text h2 {
  font-size: 26px;
  font-weight: 600;
}

.post-text p {
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.writer-profile {
  margin-top: 60px;
  display: flex;
  border: solid #e6e6e6;
  border-width: 2px 0 2px 0;
  gap: 20px;
  padding: 20px;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.profile-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile-info h1 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

.profile-info p {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 6px;
}

.profile-socmed {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.profile-socmed a {
  text-decoration: none;
}

.profile-socmed img {
  width: 28px;
}

.post-tags {
  margin-top: 34px;
  display: flex;
  gap: 10px;
}

.post-tags a {
  color: #4a8bfc;
  font-size: 18px;
  text-decoration: none;
}

.post-tags a:hover {
  color: #1e55b5;
}

.link-reference {
  color: #4a8bfc;
}

.share-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.share-icon {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.share-icon a {
  text-decoration: none;
}
