footer {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1440px;
  margin: auto;
  text-align: center;
  padding: 62px 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.6;
}

footer a {
  color: #4a8bfc;
  text-decoration: none;
}
