@media screen and (max-width: 768px) {
  header .header-container {
    width: 90%;
  }

  .header-container h1 {
    font-size: 22px;
  }

  .header-container nav,
  .header-container button {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  nav.mobile {
    display: block;
    position: fixed;
    width: 100%;
    top: 64px;
    padding: 32px 0;
    left: 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 5px 6px rgba(182, 182, 182, 16%);
  }

  nav.mobile ul {
    flex-direction: column;
  }

  nav.mobile ul li {
    margin: 8px 0px;
  }

  button.mobile {
    display: block;
    margin: 16px auto;
  }

  .card-container {
    width: 90%;
  }

  .card-item {
    flex-direction: column;
  }

  .card-content {
    flex-direction: column;
  }

  .article-img {
    overflow: hidden;
    width: 100%;
    height: 220px;
  }

  footer {
    width: 90%;
    padding: 40px 0;
  }

  .footer-text {
    font-size: 14px;
  }

  /* blog page css query */
  .blog-container {
    width: 90%;
    padding-top: 50px;
  }

  .blog-content {
    flex-direction: column;
    gap: 30px;
  }

  .post-title {
    font-size: 30px;
  }

  .post-writer {
    gap: 10px;
    font-size: 12px;
    text-align: center;
  }

  .post-img {
    height: 300px;
  }

  .post-text h2 {
    font-size: 20px;
  }

  .post-text p {
    font-size: 16px;
  }

  .article-reference {
    font-size: 16px;
  }

  .link-reference {
    font-size: 16px;
  }

  .writer-profile {
    flex-direction: column;
  }

  .post-socmed {
    width: 100%;
  }

  .share-icon {
    flex-direction: row;
  }

  .post-socmed {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .card-info {
    width: 100%;
  }

  .article-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
}
